/* ----- SASS variables ----- */
/* ----- SASS mxins ----- */
/* ----- General ----- */
html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  background-color: #575756;
  color: #eee;
  padding: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: "Rubik Doodle Shadow", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Rubik Scribble", cursive;
}

p {
  margin: 25px 0;
}

main {
  padding: 20px 10% 20px 10%; /* top, right, bottom, left */
  min-height: 100%;
}

.media-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ----- Images ----- */
img {
  max-width: 100%;
  display: block;
  margin: auto;
  width: auto;
  height: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice {
  width: 400px;
  padding: 50px;
  margin: 25px 0;
  box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.names {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.self, .computer {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 5px;
  background-color: #575756;
  color: #f5f5f5;
  border: solid 2px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 0.5px;
  width: 100px;
}

button:hover {
  border: solid 2px #fc6;
  background-color: #f5f5f5;
  color: #575756;
  cursor: pointer;
  transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}

#close-btn {
  text-align: center;
}

/* ----- Links ----- */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
  color: #fc6;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  color: #fc6;
  text-decoration: underline;
}

/* ----- Footer ----- */
footer {
  background-color: #eee;
  color: #333;
  padding: 20px;
  margin-top: auto;
}

/* ----- Responsive Layout ----- */
@media screen and (max-width: 1120px) {
  .media-flex {
    padding: 20px 10% 20px 10%; /* top, right, bottom, left */
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  main {
    padding: 20px 5% 20px 5%; /* Adjust padding for smaller screens */
    width: auto;
  }
}